<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Admin User List</title>
</head>
<body>
<h2>Users</h2>
<div th:if="${users == null or #lists.isEmpty(users)}">
    <p>No users found!</p>
</div>
<div th:if="${users != null && !#lists.isEmpty(users)}">
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <span th:each="role : ${user.roles}" th:text="${role.name} + ' '"></span>
            </td>
            <td><a th:href="@{/admin/user-update/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{/admin/user-delete/{id}(id=${user.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<p><a href="/admin/user-create">Create New User</a></p>
<p><a th:href="@{/logout}">Logout</a></p>

</body>
</html>